header{
    background-image: url(/images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 400px;
    display: flex ;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px ;
    margin-top: 50px;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(13, 13, 13, 0.436);
    border-radius: 15px ;
}
.header h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}
.header-container h3{
    color: white;
    font-size: 30px;
    text-align: center;
}

/* all categories section*/
.banner{
      margin: 0 auto;
      margin-top: 8%;
}
.banner h1{
    color: #FF0000;
    font-size: 70px;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 0;
}
.banner h5{
    color: #FF0000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
}
.banner h2{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
}
.banner img{
    width: 600px;
    height:400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}

/* Midnight party */
.party{
    background-image: url(/images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1400px;
    height: 600px;
    display: flex ;
    text-align: center;
    margin: 0 auto 8%;
    border-radius: 15px ;
    margin-top: 8%;
}
.party-container{
    background: rgba(13, 13, 13, 0.436);
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 15px;
}
.party-left{
    width: 50%;
    padding: 50px;
    margin-left: 30px;
}
.party-left h2{
    width: 70%;
    margin-bottom: 10px;
    color: white;
    font-size: 70px;
    text-align: left;
    margin-left: 40px;
}
.party-left h4{
    color: white;
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
    font-weight: 300;
}
.party-button{
    padding: 10px 30px;
    background-color: #FF0000;
    color: white;
    border: 2px solid #FF0000;
    border-radius: 50px;
    margin-left: -70%;
}
.party-right{
    /* margin-left: 30%; */
}
.party-right img{
    /* align-items: flex-end; */
    margin-top: 20%;
    margin-left: 40%;
}


/* New park hotel */
.hotel{
    margin-top: 8%;
    margin-bottom: 8%;
    /* background-color: ; */
    /* height: 200px; */
    /* background-color: rgb(243, 107, 107) */
  /* background-color: none; */
  margin: 0 auto;
  border-radius: 15px ;
    background-image: linear-gradient(#f6b3b3e5, rgb(247, 243, 243));
}
.hotel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.hotel-container p{
    font-size: 30px;
    font-weight: bold;
    margin: 8px;
}
.hotel-span{
    color: #FF0000;
}
.join{
    padding: 10px 15px;
    background-color: #FF0000;
    color:white;
    font-size: 15px;
    margin-top: 18px;
    border: 2px solid #FF0000;
    border-radius: 8px;
}

/* ComingSoon */
.comingSoon{
   margin: 8% 0 0 8%;
   text-align: center;
}
.comingSoon-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.newOffer h4{
    text-align: left;
    color: #FF0000;
    font-size: 20px;
}
.newOffer h2{
    text-align: left;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.newOffer p{
    text-align: left;
    width: 70%;
    font-size: 18px;
}

.midImg{
    
}




/* Portfolio */
.portfolio{
    margin-left: 10%;
    margin-top: 8%;
}
.portfolio-content h3{
    color: #FF0000;
    font-size: 20px;
}
.portfolio-content h1{
    font-size: 40px;
    margin: 5px 0;
}
.portfolio-content p{
    font-size: 20px;
    width: 70%;
    margin-bottom: 3%;
}
.gallery{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
    
}

/* Newsletter */
.newsletter{
    background-color: #f6d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 80px 0;
    margin-top: 8%;
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter-content h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}
.newsletter-content h5{
    font-size: 15px;
    width: 60%;
    font-weight: 400;
    text-align: center;
}
.newsletter-input{
    border-radius: 50px;
    padding: 10px 80px;
    background-color: white;
    border: 2px solid white;
    padding-left: 20px;
}
.subscribe{
    background-color: #FF0000;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #FF0000;
    margin-left: -50px;
}




/* Footer */
footer{
    background-color: #070211;
    margin: 8% 0 0 0;
    padding: 0;
}
.footercontainer{
    margin: 0 auto;
}
.footerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.top-left{
    width: 50%;
    padding: 50px;
}
.top-left p{
    color: white;
}
.top-right-call{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}
.top-right-website{
    display: flex;
    flex-direction: row;
    gap:10px;
    color: white;
}
.top-right{
    width: 50%;
}